.catalog {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    padding-top: 100px;
    min-height: 70vh;
  }

  .searchDiv{
    height: 50px;
    /* width: 280px; */
    display: flex;
    padding: 10px;
    background-color: white;
    gap: 7px;
    align-items: center;
    justify-content: center;
    width: 320px;
    margin: 0 auto;
    border-radius: 40px;
  }

  .searchDiv img{
    width: 35px;
  }
  .searchDiv input{
    padding: 15px;
    font-size: 16px;
    border: none;
  }
  .searchDiv input:focus{
    outline: none;
  }

  .searchDiv button{
    border: none;
    width: 100%;
    background-color: transparent;

  }
  
  .mealGrid {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .mealCard {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 15vw;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .mealCard:hover {
    transform: translateY(-5px);
  }

  .favBtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .mealImage {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: opacity 0.3s ease;
  }
  
  .detailsButton {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #7a9f36;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    border: none;
  }
  
  .detailsButton:hover {
    background-color: #e64a19;
  }

  .spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #007bff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  
  .mealImage.hidden {
    opacity: 0;
  }
  
  .imagePlaceholder {
    width: 100%;
    height: 230px; 
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  

  .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .moreBtn{
    padding: 8px 15px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background-color:#7a9f36 ;
    color: white;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .moreBtn:hover{
    background-color: #e64a19;
  }

  @media screen and (max-width:600px) and (min-width:300px) {
    .catalog {
      padding: 10px;
      padding-top: 40px;
    }
  
    .searchDiv{
      width: 220px;
      height: 30px;
      padding: 8px 15px;
    }
  
    .searchDiv img{
      width: 30px;
    }
    .searchDiv input{
      padding: 5px;
      font-size: 14px;
    }

    
    .mealGrid {
      padding: 20px;
    }
    
    .mealCard {
      padding: 10px;
      min-width: 60vw;
    }
    .mealCard h3{
      font-size: 20px;
    }
    .mealCard p{
      font-size: 16px;
    }
    
    .mealImage {
      margin-bottom: 5px;
    }
    
    .detailsButton {
      font-size: 0.8rem;
    }  
    .moreBtn{
      font-size: 16px;
    }
  }


  @media screen and (max-width:991px) and (min-width:600px) {
    .catalog {
      padding: 10px;
      padding-top: 40px;
    }
  
    .searchDiv{
      width: 270px;
      height: 35px;
      padding: 8px 10px;
    }
  
    .searchDiv img{
      width: 35px;
    }
    .searchDiv input{
      padding: 5px;
      font-size: 16px;
    }

    
    .mealGrid {
      padding: 20px;
    }
    
    .mealCard {
      padding: 15px;
      min-width: 30vw;
    }
    .mealCard h3{
      font-size: 22px;
    }
    .mealCard p{
      font-size: 17px;
    }
    
    .mealImage {
      margin-bottom: 5px;
    }
    
    .detailsButton {
      font-size: 0.9rem;
    }  
    .moreBtn{
      font-size: 18px;
    }
  }
