.carouselContainer {
    margin: 0 auto;
    padding: 120px 20px;
    position: relative;
    overflow: hidden; 
    background-color: #7a9f36;
  }
  
  .mainDiv {
    display: flex;
    width: 70vw;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
    background-color: white;
    padding: 20px;
    border-radius: 40px;
    transition: border-radius 0.3s ease-in-out;
    box-sizing: border-box;
  }
  
  .mainPhoto {
    width: 40%;
  }
  
  .mainPhoto img {
    width: 100%;
    border-radius: 40px; 
    transition: border-radius 0.3s ease-in-out; 
  }
  
  .text {
    width: 50%;
    text-align: left;
    padding-left: 30px;
    box-sizing: border-box;
  }
  
  .text h1 {
    font-size: 82px;
    margin-bottom: 10px;
  }
  
  .reactSimplyCarousel_forwardBtn,
  .reactSimplyCarousel_backwardBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .reactSimplyCarousel_forwardBtn {
    right: 20px;
  }
  
  .reactSimplyCarousel_backwardBtn {
    left: 20px;
  }
  
  .reactSimplyCarousel_forwardBtn:hover,
  .reactSimplyCarousel_backwardBtn:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .Main_carouselContainer__r34wC{
    border-radius: 40px;
  }


  .aiSection{
    background-color: white;
    font-size: 32px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 3vw;
    padding-bottom: 3vw;
    gap: 5vw;
    padding-right: 15vw;
  }


  .aiPhoto{
    width:30vw;
    border-radius: 40px;
  }

  .aiText{
    margin-left: 15vw;
    width:50vw;
  }

  .aiButton {
    background-color: #7a9f36;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .aiButton:hover {
    background-color: #e64a19;
  }


  .catalog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1vw 15vw;
    background-color: #7a9f36;
    gap: 40px;
  }
  
  .catalogText {
    max-width: 50%;
    padding-top: 130px;
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    margin: 0 auto;
    color: white;
  }
  .catalogText h2{
    margin: 0;
  }
  
  .catalogButton {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff7f50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .catalogButton:hover {
    background-color: #ff5733;
  }
  
  .catalogImage img {
    border-radius: 10px;
    height: 400px;
    width: 400px;
    object-fit: cover;
  }
  .catalogImage{
    display: flex;
    align-items: center;
    justify-content: center;
  }


  
  @media screen and (max-width: 600px) and (min-width: 300px) {
    .carouselContainer{
      padding-top: 50px;
    }
    .mainDiv {
      flex-direction: column;
      width: 90vw;
      margin: 50px auto;
      border-radius: 20px;
    }
  
    .mainPhoto {
      width: 100%;
    }
  
    .mainPhoto img {
      border-radius: 20px;
      height: 200px;
      object-fit: cover;

    }
  
    .text {
      width: 100%;
      padding-left: 10px;
    }
  
    .text h1 {
      font-size: 36px;
    }
  
    .aiSection {
      flex-direction: column;
      padding: 10vw 5vw;
      gap: 20px;
    }
  
    .aiPhoto {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  
    .aiText {
      margin-left: 0;
      width: 100%;
      font-size: 18px;
    }

    .aiButton{
      font-size: 14px;
    }
  
    .catalog {
      flex-direction: column;
      gap: 20px;
      padding: 20px;
    }
  
    .catalogText {
      max-width: 100%;
      padding: 20px 0;
      font-size: 24px;
    }
  
    .catalogImage img {
      width: 100%;
      border-radius: 10px;
    }
    .reactSimplyCarousel_forwardBtn,
    .reactSimplyCarousel_backwardBtn {
    width: 30px;
    height: 30px;
  }
  .reactSimplyCarousel_forwardBtn {
    right: 10px;
  }
  
  .reactSimplyCarousel_backwardBtn {
    left: 10px;
  }
  }
  
  @media screen and (max-width: 991px) and (min-width: 601px) {
    .mainDiv {
      width: 85vw;
      border-radius: 30px;
    }
  
    .text h1 {
      font-size: 48px;
    }
  
    .aiSection {
      width: 85vw;
      gap: 10px;
      padding: 10px;
    }
  
    .aiPhoto {
      width: 240px;
      padding: 10px 0;

    }
  
    .aiText {
      width: 100%;
      margin-left: 20px;
      font-size: 23px;
    }
  
    .catalog {
      gap: 30px;
      padding: 3vw 7vw;
    }
  
    .catalogText {
      font-size: 22px;
    }
    .catalogImage img {
      height: 300px;
      width: 300px;
    }
  }
  

  @media screen and (max-width: 1441px) and (min-width: 2000px){
    .mainDiv {
      width: 90vw;
      border-radius: 30px;
    }
  
    .text h1 {
      font-size: 58px;
    }
  
    .aiSection {
      width: 90vw;
      gap: 10px;
      padding: 10px;
    }
  
    .aiPhoto {
      width: 640px;
      padding: 10px 0;

    }
  
    .aiText {
      width: 100%;
      margin-left: 20px;
      font-size: 34px;
    }
  
    .catalog {
      gap: 30px;
      padding: 3vw 7vw;
    }
  
    .catalogText {
      font-size: 34px;
    }
    .catalogImage img {
      height: 100%;
    }
  }
  
  