@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Inconsolata:wght@200..900&family=Playwrite+IT+Moderna:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* body{
  font-family: "Adamina", serif;
} */

body{
  font-family: "Roboto", serif;
}


::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {

  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  background-color:  #b1cb3e;;
}

